#app-container {

  #desktop-game-container{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;


    #desktop-game-mobile-connection-warning{
      display: none;
      position: absolute;
      top: 35vh;
      left: 35vw;
      width: 30vw;
      height: 30vh;
      border-radius: 10px;
      border-color: rgb(39, 39, 39);
      background: rgb(104, 104, 104);
      border-width: 5px;
      font-size: 60px;
      font-family: 'ZCOOL QingKe HuangYou', cursive;
      color: rgb(0, 0, 0);
    }

    #desktop-game-mobile-active-warning{
      display: none;
      position: absolute;
      top: 35vh;
      left: 35vw;
      width: 30vw;
      height: 30vh;
      border-radius: 10px;
      border-color: rgb(39, 39, 39);
      background: rgb(104, 104, 104);
      border-width: 5px;
      font-size: 60px;
      font-family: 'ZCOOL QingKe HuangYou', cursive;
      color: rgb(0, 0, 0);
    }


    #desktop-game-canvas{
      position: relative;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
    }
    #desktop-matter-developer-canvas{
      position: relative;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
    }
    #desktop-game-score-display{
      display: none;
      position: absolute;
      bottom: 5vh;
      left: 45vw;
      width: 10vw;
      height: 5vh;
      font-size: 60px;
      font-family: 'ZCOOL QingKe HuangYou', cursive;
      color: silver;
    }

    #desktop-game-end-scene{
      display: none;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      top: 40vh;
      left: 25vw;
      width: 50vw;
      height: 20vh;
      border-radius: 10px;
      border-color: rgb(39, 39, 39);
      background: rgb(104, 104, 104);
      border-width: 5px;
      font-size: 60px;
      font-family: 'ZCOOL QingKe HuangYou', cursive;
      color: rgb(0, 0, 0);

      p{
        font-size: 60px;
        font-size: 30px;
        text-align: center;
        height: 30px;
        padding: 0.1vw;
        margin: 0;
      }
      #desktop-game-end-scene-exit-button{
        padding: 0.2vw;
        width: 10vw;
      }
      #desktop-game-end-scene-input{
        padding: 0.2vw;
        width: 25vw;
      }
    }
  }
}

