#app-container {

  #desktop-game-container{
    #desktop-game-canvas{
      position: fixed;
      top: 0;
      left: 0;
    }
    #desktop-matter-developer-canvas{
      position: fixed;
      top: 0;
      left: 0;
    }
  }

}