#app-container {

  #desktop-container{
    display:none;
  
    #mobile-connected-alert{
      display:none;
    }

    #mobile-active-alert{
      display:none;
    }

    #join-code-display{
      display:none;
    }
  }

}