#app-container {

  #desktop-container{
    display:none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
  
    #mobile-connected-alert{
      display:none;
    }

    #mobile-unactive-alert{
      display:none;
    }

    #join-code-display{
      display:none;
    }

    #start-game-button{
      display: none;
    }

    #desktop-game-cancel-button{
      display: none;
    }

  }

}