#app-container {

  #mobile-container{
    background-color: white;
    display:none;

    #desktop-disconnected-alert{
      display: none;
    }

    #mobile-game-cancel-button{
      display: none;
    }

    #mobile-game-waiting-alert{
      display: none;
    }
    
  }

}